:host {
  position: relative;
  background-color: black;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

:host .bag-container {
  position: absolute;
  background-color: #444;
  width: 357px;
  height: 315px;
  top: 250px;
  left: 250px;
  border-radius: 5px;
}

:host .bag {
  position: absolute;
  background-color: #333;
  width: 225px;
  height: 135px;
  top: 100px;
  left: 65px;
}


:host .thing {
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 25%;
  z-index: 3;
}

:host .thing svg {
  background-color: transparent;
  fill: #eee;
  width: 30px;
  height: 30px;
}

:host .thing svg:hover {
  stroke: white;
  stroke-width: 1px;
  cursor: move;
}

:host .tooltip {
  position: absolute;
  color: white;
}
