:host {
  position: relative;
  background-color: black;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

:host .bag-container {
  position: absolute;
  background-color: #444;
  width: 464px;
  height: 432px;
  top: 250px;
  left: 250px;
  background: url('./backpack.png');
}

:host .bag-container:after {
  position: absolute;
  width: 320px;
  height: 50px;
  top: 310px;
  left: 43px;
  content: '';
  background: url('./fold.png');
  z-index: 5;
}

:host .bag {
  position: absolute;
  background: none;
  width: 280px;
  height: 170px;
  top: 141px;
  left: 73px;
}


:host .thing {
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 25%;
  z-index: 3;
}

:host .thing svg {
  background-color: transparent;
  fill: #eee;
  width: 30px;
  height: 30px;
}

:host .thing svg:hover {
  stroke: white;
  stroke-width: 1px;
  cursor: move;
}

:host .tooltip {
  position: absolute;
  color: white;
}

:host .thing.is-born svg {
  animation: 0.3s ease thingIsBorn
}

:host .thing.is-dead svg {
  animation: thingIsDead 0.3s 1 ease
}

@keyframes thingIsBorn {
  0% { transform: scale3d(0, 0, 0); }
  80% { transform: scale3d(1.2, 1.2, 1.2); }
  100% { transform: scale3d(1, 1, 1); }
}